<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="/static/css/external/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/76537df4c9.js" crossorigin="anonymous"></script>

    <script src="/static/js/external/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>

    <title>GENDOC</title>
</head>

<body data-bs-theme="<%= session_theme %>">
    <div class="card" style="width:400px">
        <img class="card-img-top" src="/static/img/logo-no-background.png" alt="Card image"
            style="width:100%">

    </div>

    <div class="card" style="width:400px">
        <h1>Sumar</h1>
    </div>

    <div class="card" style="width:400px">
        <h3>Documente suportate</h3>

        <ul>
            <li><a href="/contract_instrainare_dobandire_auto">Contract înstrăinare -
                    dobândire auto</a></li>
        </ul>
    </div>

    <div class="fixed-button-container">
        <button type="button" class="btn btn-light btn-theme btn-round" onclick="toggleTheme()">
            <i class="fa-solid fa-moon"></i>
        </button>
    </div>
    

</body>

</html>