<div class="card main-card">
    <div class="card-body">
        <div class="card-header main-card-header">
            <h3 class="card-title">Informații cumpărător</h3>
        </div>

        <form id="buyer-basic-info" class="row">
            <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                <select class="form-select" id="buyer-type">
                    <option value="PF" selected>Persoană fizică
                    </option>
                    <option value="PJ">Persoană juridică</option>
                </select>
                <label id="buyer-type-label" for="buyer-type">Tip</label>
            </div>
            <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                <input id="buyer-individual-name" placeholder="buyer-individual-name" class="form-control"
                    name="buyer-individual-name" type="text" />
                <label id="buyer-individual-name-label" for="buyer-individual-name"></label>
                <div id="buyer-individual-name-info-pf" class="info-btn" data-bs-toggle="popover" data-bs-html="true"
                    data-bs-trigger="focus" tabindex="0"
                    data-bs-content="Numele complet al cumpărătorului, format din numele de familie și prenume. <br>Ex: <b>Popescu Ion</b>">
                    i</div>
                <div id="buyer-individual-name-info-pj" class="info-btn" data-bs-toggle="popover" data-bs-html="true"
                    data-bs-trigger="focus" tabindex="0"
                    data-bs-content="Denumirea societății. <br>Ex: <b> Denumire Societate SRL</b>">
                    i</div>
            </div>
        </form>

        <div class="card box-shadow mt-3">
            <div class="card-body">
                <div class="card-header d-flex">
                    <div>
                        <h5 id="buyer-address-type-header" class="card-title">
                        </h5>
                    </div>
                    <div id="buyer-address-type-info-div">
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            data-bs-content="Adresa de domiciliu a cumpărătorului, conform documentului cu care se identifică. <br>Ex: <b>adresa din buletin</b>"
                            tabindex="0">
                            i</div>
                    </div>
                </div>
                <form id="buyer-individual-address-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-country" placeholder="buyer-individual-country" class="form-control"
                            name="buyer-individual-country" type="text" value="România" />
                        <label for="buyer-individual-country">Țară</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-county" placeholder="buyer-individual-county" class="form-control"
                            name="buyer-individual-county" type="text" /><label
                            for="buyer-individual-county">Județ</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-postal-code" placeholder="buyer-individual-postal-code"
                            class="form-control" name="buyer-individual-postal-code" type="text" /><label
                            for="buyer-individual-postal-code">Cod
                            poștal</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-city" placeholder="buyer-individual-city" class="form-control"
                            name="buyer-individual-city" type="text" /><label
                            for="buyer-individual-city">Municipiu/oraș/comuna</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-sub-city" placeholder="buyer-individual-sub-city"
                            class="form-control" name="buyer-individual-sub-city" type="text" /><label
                            for="buyer-individual-sub-city">Sat/sector</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-street" placeholder="buyer-individual-street" class="form-control"
                            name="buyer-individual-street" type="text" /><label
                            for="buyer-individual-street">Strada</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-street-nr" placeholder="buyer-individual-street-nr"
                            class="form-control" name="buyer-individual-street-nr" type="text" /><label
                            for="buyer-individual-street-nr">Nr.
                            stradă</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-building-nr" placeholder="buyer-individual-building-nr"
                            class="form-control" name="buyer-individual-building-nr" type="text" /><label
                            for="buyer-individual-building-nr">Bloc</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-entrance" placeholder="buyer-individual-entrance"
                            class="form-control" name="buyer-individual-entrance" type="text" /><label
                            for="buyer-individual-entrance">Scara</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-floor" placeholder="buyer-individual-floor" class="form-control"
                            name="buyer-individual-floor" type="text" /><label for="buyer-individual-floor">Etaj</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-apt-nr" placeholder="buyer-individual-apt-nr" class="form-control"
                            name="buyer-individual-apt-nr" type="text" /><label
                            for="buyer-individual-apt-nr">Apartament</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="card box-shadow mt-3">
            <div class="card-body">
                <div class="card-header d-flex">
                    <h5 class="card-title">Date
                        de identificare</h5>
                    <div id="buyer-identity-info-div">
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Informații din documentul cu care cumpărătorul se identifică. <br>Ex: <b>carte de identitate, pașaport</b>">
                            i</div>
                    </div>
                </div>
                <form id="buyer-individual-form" class="row">
                    <div id="buyer-individual-id-series-div" class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-id-series" placeholder="buyer-individual-id-series"
                            class="form-control" name="buyer-individual-id-series" type="text" /><label
                            for="buyer-individual-id-series">Serie
                            BI/CI/CIP/Pașaport</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0" data-bs-content="Seria documentului de identificare. <br>Ex: <b>MS</b>">
                            i</div>
                    </div>
                    <div id="buyer-individual-id-nr-div" class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-id-nr" placeholder="buyer-individual-id-nr" class="form-control"
                            name="buyer-individual-id-nr" type="text" /><label
                            for="buyer-individual-id-nr">Număr</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0" data-bs-content="Numărul documentului de identificare. <br>Ex: <b>333666</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-cnp" placeholder="buyer-individual-cnp" class="form-control"
                            name="buyer-individual-cnp" type="text" /><label id="buyer-individual-cnp-label"
                            for="buyer-individual-cnp"></label>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Date de contact</h5>
                </div>
                <form id="buyer-individual-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-phone" placeholder="buyer-individual-phone" class="form-control"
                            name="buyer-individual-phone" type="text" /><label
                            for="buyer-individual-phone">Telefon</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-individual-email" placeholder="buyer-individual-email" class="form-control"
                            name="buyer-individual-email" type="text" /><label
                            for="buyer-individual-email">Email</label>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-check mt-3 mb-3 card-checkbox">
            <input type="checkbox" class="form-check-input" id="buyer-different-fiscal-address-checkbox"
                value="buyer-different-fiscal-address-checkbox">
            <label class="form-check-label" for="buyer-different-fiscal-address-checkbox">Cu alt
                domiciliu
                fiscal</label>
        </div>

        <div id="buyer-different-fiscal-address-card" class="card mt-3 mb-3 d-none">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Domiciliu fiscal</h5>
                </div>
                <form id="different-fiscal-address-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-country" placeholder="buyer-fiscal-address-country"
                            class="form-control" name="buyer-fiscal-address-country" type="text"
                            value="România" /><label for="buyer-fiscal-address-country">Țară</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-county" placeholder="buyer-fiscal-address-county"
                            class="form-control" name="buyer-fiscal-address-county" type="text" /><label
                            for="buyer-fiscal-address-county">Județ</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-postal-code" placeholder="buyer-fiscal-address-postal-code"
                            class="form-control" name="buyer-fiscal-address-postal-code" type="text" /><label
                            for="buyer-fiscal-address-postal-code">Cod
                            poștal</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-city" placeholder="buyer-fiscal-address-city"
                            class="form-control" name="buyer-fiscal-address-city" type="text" /><label
                            for="buyer-fiscal-address-city">Municipiu/oraș/comuna</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-sub-city" placeholder="buyer-fiscal-address-sub-city"
                            class="form-control" name="buyer-fiscal-address-sub-city" type="text" /><label
                            for="buyer-fiscal-address-sub-city">Sat/sector</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-street" placeholder="buyer-fiscal-address-street"
                            class="form-control" name="buyer-fiscal-address-street" type="text" /><label
                            for="buyer-fiscal-address-street">Strada</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-street-nr" placeholder="buyer-fiscal-address-street-nr"
                            class="form-control" name="buyer-fiscal-address-street-nr" type="text" /><label
                            for="buyer-fiscal-address-street-nr">Nr</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-building-nr" placeholder="buyer-fiscal-address-building-nr"
                            class="form-control" name="buyer-fiscal-address-building-nr" type="text" /><label
                            for="buyer-fiscal-address-building-nr">Bloc</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-entrance" placeholder="buyer-fiscal-address-entrance"
                            class="form-control" name="buyer-fiscal-address-entrance" type="text" /><label
                            for="buyer-fiscal-address-entrance">Scara</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-floor" placeholder="buyer-fiscal-address-floor"
                            class="form-control" name="buyer-fiscal-address-floor" type="text" /><label
                            for="buyer-fiscal-address-floor">Etaj</label>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="buyer-fiscal-address-apt-nr" placeholder="buyer-fiscal-address-apt-nr"
                            class="form-control" name="buyer-fiscal-address-apt-nr" type="text" /><label
                            for="buyer-fiscal-address-apt-nr">Apartament</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer main-card-footer">
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" onclick="setCarouselPageIndex(0)"
                class="btn btn-success active carousel-button">Înapoi</button>
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" onclick="setCarouselPageIndex(2)"
                class="btn btn-success active carousel-button">Înainte</button>
        </div>
    </div>
</div>