<div class="card">
    <div class="card-body">
        <div class="card-header">
            <h4 class="card-title">Obiectul contractului</h4>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">Informații autovehicul
                    </h4>
                </div>
                <form id="vehicle-info-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-make-input" placeholder="vehicle-make-input" class="form-control"
                            type="text" /><label for="vehicle-make-input">Marca</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0" data-bs-content="Producatorul autovehiculului. <br>Ex: <b>Nissan</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-type-input" placeholder="vehicle-type-input" class="form-control"
                            type="text" /><label for="vehicle-type-input">Tipul</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Tipul autovehiculului. Se regăsește în cartea de identitate: forma veche pct. 4 / forma nouă pct. D2.<br>Ex: <b>D231</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-identification-number-input"
                            placeholder="vehicle-identification-number-input" class="form-control" type="text" /><label
                            for="vehicle-identification-number-input">Număr
                            de identificare(VIN)</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Numărul de identificare al autovehiculului(VIN). Se regăsește în cartea de identitate(forma veche pct. 6 / forma noua pct. E) sau în talonul de înmatriculare(pct. E). <br>Ex: <b>WBAAP12345PP56789</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-engine-input" placeholder="vehicle-engine-input" class="form-control"
                            type="text" /><label for="vehicle-engine-input">Serie
                            motor</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Seria motorului. Se regăsește în cartea de identitate la: forma veche pct. 10 / forma noua pct. P5.<br>Ex: <b>65378903</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-engine-size-input" placeholder="vehicle-engine-size-input"
                            class="form-control" type="text" /><label for="vehicle-engine-size-input">Capacitate
                            cilindrică</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Capacitatea cilindrică a motorului. Se regăsește în cartea de identitate la: forma veche pct. 10 / forma noua pct. P1.<br>Ex: <b>1995</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-trailer-weight-input" placeholder="vehicle-trailer-weight-input"
                            class="form-control" type="text" /><label for="vehicle-trailer-weight-input">Greutate
                            remorci/semiremorci</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Greutatea maximă admisă pentru remorci și semiremorci, măsurată în tone.">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-plates-input" placeholder="vehicle-plates-input" class="form-control"
                            type="text" /><label for="vehicle-plates-input">Număr
                            de
                            înmatriculare</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Numărul de înmatriculare/înregistrare.<br>Ex: <b>CJ 01 AAA</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-exp-date-input" placeholder="vehicle-exp-date-input" class="form-control"
                            type="text" /><label for="vehicle-exp-date-input">Inspecția
                            tehnică
                            periodică</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Data la care expiră inspecția tehnică periodică. Se regăsește pe foaia primită la ultima inspecție.<br>Ex: <b>30.11.2024</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-card-id-input" placeholder="vehicle-card-id-input" class="form-control"
                            type="text" /><label for="vehicle-card-id-input">Nr.
                            carte
                            identitate</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Numărul cărții de identitate a vehiculului. Se regăsește pe cartea de identitate sau pe certificatul de înmatriculare(pct. Y).<br>Ex: <b>K285730</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-year-input" placeholder="vehicle-year-input" class="form-control"
                            type="text" /><label for="vehicle-year-input">An
                            fabricație</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Anul de fabricație al autovehiculului. Se regăsește pe cartea de identitate: forma veche pct. 5 / forma nouă pct. 2.">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-euro-input" placeholder="vehicle-euro-input" class="form-control"
                            type="text" /><label for="vehicle-euro-input">Norma
                            euro</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Norma de poluare a autovehiculului. Se regăsește pe cartea de identitate: forma veche pct. 5(înainte de an) / forma nouă pct. 17.">
                            i</div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">Informații vânzător
                    </h4>
                </div>
                <form id="vehicle-info-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-purchase-date-input" placeholder="vehicle-purchase-date-input"
                            class="form-control" type="text" /><label for="vehicle-purchase-date-input">Dată
                            dobândire</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0" data-bs-content="Data la care vănzătorul a dobândit autovehiculul.">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-purchase-type-input" placeholder="vehicle-purchase-type-input"
                            class="form-control" type="text" /><label for="vehicle-purchase-type-input">Dobândit
                            prin</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Actul prin care vânzătorul a dobândit autovehiculul.<br>Ex: <b>contract înstrăinare-dobândire</b>">
                            i</div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">Preț
                    </h4>
                </div>
                <form id="vehicle-info-form" class="row">
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-price-numbers-input" placeholder="vehicle-price-numbers-input"
                            class="form-control" type="text" /><label
                            for="vehicle-price-numbers-input">Preț(lei)</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0" data-bs-content="Prețul în lei descris în cifre.<br>Ex: <b>3200</b>">
                            i</div>
                    </div>
                    <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                        <input id="vehicle-price-letters-input" placeholder="vehicle-price-letters-input"
                            class="form-control" type="text" /><label for="vehicle-price-letters-input">Preț
                            în litere(lei)</label>
                        <div class="info-btn" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="focus"
                            tabindex="0"
                            data-bs-content="Prețul în lei descris în litere.<br>Ex: <b>trei mii două sute de lei</b>">
                            i</div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <div class="card-header">
                    <h4 class="card-title">Încheiere contract
                    </h4>
                </div>
                <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                    <input id="contract-date-input" placeholder="contract-date-input" class="form-control"
                        type="text" /><label for="contract-date-input">Data</label>
                </div>
                <div class="form-floating col-md-4 col-sm-12 col-lg-3">
                    <input id="contract-place-input" placeholder="contract-place-input" class="form-control"
                        type="text" /><label for="contract-place-input">Locul</label>
                </div>
                <div class="form-check mt-3 mb-3">
                    <input type="checkbox" class="form-check-input" id="with-additional-papers-checkbox"
                        value="with-additional-papers-checkbox">
                    <label class="form-check-label" for="with-additional-papers-checkbox">Cu
                        anexe la contract</label>
                </div>
            </div>
        </div>

        <div class="card-footer mt-3">
            <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1"
                class="btn btn-success carousel-button">Înapoi</button>
            <button type="button" onclick="generatePdf()" class="btn btn-primary carousel-button">Generare
                PDF</button>
        </div>

    </div>
</div>