form label {
    margin-left: 10px;
}

div.card-header {
    margin-bottom: 10px;
}

.fiscal-address-checkbox {
    position: relative;
    margin-bottom: 1rem;
}

.form-floating {
    position: relative;
    margin-bottom: 1rem;
}

.card-header-with-info {
    position: relative;
    margin-bottom: 1rem;
}

.form-floating input {
    padding-right: 36px;
}

.info-btn {
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
}

.info-btn-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
}

.card-body {
    padding: 0px;
}

.main-card {
	margin-right: 1rem !important;
	margin-left: 1rem !important;
}

.main-card.card-body {
    margin-left: 1rem !important;
}

.field-card {
    margin-left: 1rem !important;
}


.card-body .form-control {
    padding-left: 1rem !important;
}

.navbar {
    border-bottom: 1px solid #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .main-card-header.card-header {
    background-color: #7D7C7C;
}

.card-header {
    background-color: #D2E3C8;
}

.main-card-footer {
    background-color: #B2C8BA;
} */

footer {
    color: white;
    padding: 15px;
    /* position: fixed; */
    bottom: 0;
}