body, html {
    height: 100%;
    margin: 0;
}

.container-full-height {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.flex-grow-1 {
    flex-grow: 1;
}

.form-floating > label {
    left: inherit;
}

.card-body > .row {
    margin-left: auto;
    margin-right: auto;
}

.card-body > .row > .form-floating {
    margin-bottom: 1rem;
}

.card-body > .card {
    border-radius: 0;
}

.card-title {
    margin-right: 0.5rem;
}

.card-checkbox {
    position: relative;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.card-header {
    position: relative;
    margin-bottom: 1rem;
}

.info-btn {
    position: absolute;
    margin-right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff;
    color: white;
}

.form-floating > .info-btn {
    right: 1rem;
}

.card-header > div > .info-btn {
    top: 45%;
}

.card-body {
    padding: 0;
}

.main-card {
	margin-right: 1rem !important;
	margin-left: 1rem !important;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    border-bottom: 1px solid #f8f9fa;
}

footer {
    color: white;
    padding: 15px;
    border-top: 1px solid #f8f9fa;
    margin-top: 1rem;
}

.page-title {
    font-weight: inherit;
}